/* use this to put borders around things... */
.crop-img{
  max-height:150px;
  max-width:100%;
  margin-bottom: 10px;
}

.large-img{
  max-width:50%;
  max-height:400px;
  display:block;
  margin:auto;
}
.tab { margin-left: 40px; }
img.with-text {  float: right;  max-width: 50%;  height: auto; } 
.clearfix:after {   content: " ";    visibility: hidden;   display: block;   height: 0;   clear: both; }
